name: Deploy
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Download code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-nodejs@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Run lint
        run: npm run lint
  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Download code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-nodejs@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Download code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-nodejs@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - name: Run build
        run: npm run build